/* this is an external CSS file */

/* format is as the following: */
/* 
selector {
    property: value
}
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: magenta;
    text-decoration: underline;
    font-size: 1.15em;
    line-height: 2em;
    word-spacing: 1.4em;
    letter-spacing: 2px;
    /* text-shadow: 2em 2em black; */
}