/* 
Comments in CSS are different than HTML
*/
 
ol {
    background-color: tomato;
}

ul {
    background-color: tomato;
}

dl {
    background-color: green;
}

/* Example of CSS Class Selector */

.blue-background {
    background-color: blue;
    color: white;
}

.tomato-text-color {
    color: tomato;
}

/* Example of CSS ID Selector */

#text-center {
    text-align: center;
}

#font-bold {
    font-weight: bold;
}

/* Example of a decesent CSS selector */

ol li {
    color: orange;
    font-weight: bold;
}

dl dt {
    font-style: italic;
    font-size: 1.5em;
}

dl dd {
    color: white;
    font-size: 1.25em;
}