/* STAR element applies this CSS to EVERYTHING on the page */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: darkcyan;
}

.half-radius {
    border: 2px solid purple;
    border-radius: 25px 50px;
}

.border-outline {
    border: 4px dashed yellow; 
}

.half-opacity {
    /* this means opacity is at 50% */
    opacity: 0.5;
}

.red-box-shadow {
    border: 5px solid darkred;
    box-shadow: 10px 25px red;
}

#linearGradient {
    height: 150px;
    /* background colour omited as there is already a background colour applied to body tag */
    /* background-color: ; */
    background-image: linear-gradient(to left,pink , cyan 80%);
}

#radialGradient {
    height: 200px;
    width: 300px;
    /* background colour omited as there is already a background colour applied to body tag */
    /* background-color: ; */
    background-image: radial-gradient(purple, orange, white);
}

#conicGradient {
    height: 250px;
    width: 300px;
    /* background colour omited as there is already a background colour applied to body tag */
    /* background-color: ; */
    background-image: conic-gradient(blue, lightgreen, white)
}