/* Parsa Rajabi - 300123456 */
/* Week 5 Style */

.center {
    text-align: center;
}

.text-blue {
    color: royalblue;
}

.border-red {
    border: 1px solid red;
}

.dog-image {
    width: 50%;
    height: 50%;
}

#nested {
    font-weight: 200;
}

#footer {
    font-size: small;
    font-weight: bold;
    text-decoration: underline;
}

#text-brown{
    color:brown;
}

section div p {
    text-decoration: underline;
}

section div {
    /* background-color: gray; */
}

section p {
    text-align: center;
}